In [1]:
!pip install mysql-connector-python
import mysql.connector as connector
connection = connector.connect(user = "salimhaddad", password = "dfbknvbfcbn1")

Requirement already satisfied: mysql-connector-python in c:\users\salimhaddad\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\salimhaddad\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

In [11]:
connection = connector.connect(user = "salimhaddad", password = "dfbknvbfcbn1", db = "littlelemon")

In [12]:
show_tables_query = "SHOW tables" 
cursor = connection.cursor()
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)

[('bookings',), ('bookingsstaff',), ('customerdetails',), ('customershighcostorders',), ('menu',), ('orderdeliverystatus',), ('orders',), ('ordersstaff',), ('ordersview',), ('staffinformation',), ('twoordersmenuitems',)]

In [13]:
sql = "SELECT c.Name, c.Phone, c.Email, o.TotalCost FROM customerdetails c INNER JOIN orders o ON c.CustomerID = o.CustomerOID WHERE o.TotalCost > 60"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

[('John Doe', '123-456-7890', 'john.doe@example.com', Decimal('120')), ('Emily Williams', '789-012-3456', 'emily.williams@example.com', Decimal('90')), ('David Brown', '321-654-9870', 'david.brown@example.com', Decimal('70')), ('Sarah Jones', '654-987-0123', 'sarah.jones@example.com', Decimal('500'))]